extends includes/base
block css
    link(rel='stylesheet', href='/css/items.css')
block content
    .mb-5
        img.card-img-top(src='https://live.staticflickr.com/2572/3960247741_451283acfb_b.jpg', alt='Inventar Banner', style='height: 200px; object-fit: cover;')
        .card
            .card-body
                h2.card-title Deine Gegenstände
                .container#items
                    .row.row-cols-2.mb-4
                        if items && items.length > 0
                            for item in items
                                .col.mb-3
                                    .card
                                        if item.image
                                            img.card-img-top(src=item.image, alt='Gegenstandsbild', style='height: 250px; object-fit: cover;')
                                        .card-header
                                            h5.card-title #{item.name}
                                            case item.rarity
                                                when '0'
                                                    .badge.bg-secondary.text-white Gewöhnlich
                                                when '1'
                                                    .badge.bg-primary.text-white Ungewöhnlich
                                                when '2'
                                                    .badge.bg-info.text-black.text-opacity-75 Selten
                                                when '3'
                                                    .badge.bg-danger.text-black.text-opacity-75 Episch
                                                when '4'
                                                    .badge.bg-warning.text-black.text-opacity-75 Legendär
                                                when '5'
                                                    .badge.bg-purple.text-white.text-opacity-75 Mythisch
                                                default
                                                    .badge.bg-success.text-white
                                                        span(style="text-transform:capitalize;", title="custom rarity - "+item.rarity) #{item.rarity}
                                        .card-body
                                            p.card-text
                                                if item.description.length > 500
                                                    span #{item.description.substring(0, 500)} ...
                                                else
                                                    span #{item.description}
                                        .card-footer.text-muted.flex-row.d-flex
                                            span Erhalten am
                                                |
                                                |
                                                span(title=new Date(parseInt(item.created)).toLocaleTimeString("de-DE"))= new Date(parseInt(item.created)).toLocaleDateString("de-DE")
                                            .ms-auto
                                                for tag, index in item.tags
                                                    if index < 2 || item.tags.length < 4
                                                        span.badge.badge-pill.bg-secondary.ms-1 #{tag}
                                                    else if index === 2
                                                        span.badge.badge-pill.bg-secondary.ms-1 ...
                                                    else
                                                        break
                                                .vr
                                                span.badge.badge-pill.bg-primary.ms-1(title=item.appid) #{item.appname || item.appid}