extends ../extends/hero
block title
    | Shop
block subtitle
    | Hier kannst du Items kaufen
block append css
    link(rel='stylesheet', href='/css/rarity.css')
block content
    .container.mx-auto.my-5
        h2.display-5.card-title.mb-4 Alle Angebote
        #shops
            if shops && shops.length > 0
                .row.row-cols-1.row-cols-md-2.row-cols-lg-3.row-cols-xl-4.mb-4
                    - currentApp = ''
                    for shop in shops
                        if shop.app_id !== currentApp
                            - currentApp = shop.app_id
                            <!-- App Group Divider with App Name -->
                            .w-100.mt-4.mb-4
                                h4.card-title(title=shop.app_id) #{shop.app_name || shop.app_id}
                        .col.mb-3
                            .card.h-100
                                if shop.image
                                    img.card-img-top.rounded-bottom(src=shop.image, alt='Angebotsbild', style='height: 250px; object-fit: cover;')
                                .card-body.p-4
                                        h5.fw-bolder.text-decoration-none #{shop.name}
                                        if shop.price
                                            span #{shop.price} Ehre
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-end
                                        a.btn.btn-outline-primary.mt-auto(href="/shop/" + shop.shop_id) Details
            else
                p Keine Angebote gefunden